@import "../components/ItemListContainer/ItemListContainer.scss";
@import "../components/NavBar/NavBar.scss";
@import "../components/CartWidget/CartWidget.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}